<footer>
    <div class="foot container">
        <div class="left">
            <h2 class="hidden">Globale Links</h2>
            <ul class="help">
                <li>
                    <a href="https://sbamueller.wordpress.com/kontakt-contact/">Impressum</a>
                </li>
                <li>
                    <a href="https://sbamueller.wordpress.com/kontakt-contact/">Datenschutz</a>
                </li>
                <li>
                    <a href="https://sbamueller.wordpress.com/kontakt-contact/">Hilfe</a>
                </li>
                <li>
                    <a href="https://sbamueller.wordpress.com/kontakt-contact/">Kontakt</a>
                </li>
            </ul>
            <p class="copy">
                {% set now = Date() %}
                <a href="https://sbamueller.wordpress.com/kontakt-contact/">© WDR {{ now|date('Y') }}</a>
            </p>
        </div>
        <a class="logo" href="http://sbamueller.de">
            <img alt="zu Startseite Sebastian Müllers Blog" title="zu Startseite WDR" src="images/wdr_logo.svg">
        </a>
    </div>
    <a href="#goToHead" class="hidden">Zum Anfang</a>
</footer>
