<script>
    window.wdrWebtrekkBuildArr = [
        'Sebastian Müller',
        'Datenprojekte',
        'Nachrichten',
        'Freiburg',
        'OB Wahl 2018',
        'Was schätzen Sie?'
    ];

    (function() {
        const insertScript = function (url) {
            const script = document.createElement('script');
            script.src = url;
            script.async = true;
            document.body.appendChild(script);

            return {
                then: function (cb) {
                    script.addEventListener('load', cb);
                }
            }
        };

       
            });
    })();
</script>
